<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Syte</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>Это мой первый сайт!</p>
    <h2>Список достижений:</h2>
    <ul>
        <li>Создал Django проект</li>
        <li>Создал приложение</li>
        <li>Загрузил сайт на github и задеплоил на 
            <strong><a href="https://l1ttlegem.pythonanywhere.com">Python Anywhere</a></strong></li>
    </ul>
</body>
</html>